$fuego: #c72100;
$planta: #66ba2a;
$electrico: #fbba17;
$agua: #106cc7;
$tierra: #cfae52;
$roca: #9d863c;
$hada: #f0a9f0;
$veneno: #7d327e;
$bicho: #88960d;
$dragon: #9481eb;
$squico: #d33367;
$volador: #90a2f0;
$lucha: #79301a;
$normal: #c3bdb3;
$siniestro: #0e0e0e;
$fantasma: #5e5eb0;
$hielo: #82dbf8;
$acero: #9797a7;
$color-tarjeta: #1b4;
